<footer>
	<div class="container py-5">
		<div class="row">
			<div class="col-md-4 col-sm-12 pt-md-0 pt-sm-5 mt-md-0 mt-sm-5">
				<div class="d-flex flex-column justify-content-center mt-4">
					<b class="text-center fs-4">Horario</b>
					<span class="text-center">Lunes <i class=" bi bi-arrow-right-short"></i> Sabado</span>
					<span class="text-center">
						9 a.m. <i class="bi bi-arrow-left-right"></i> 3 p.m.</span>
					<div class="flag mexico mx-auto" data-bs-toggle="tooltip"
						data-bs-title="Zona horaria de México (UTC-6)">
						<img src="https://imgur.com/6YAiFxu.png" height="15" alt="" />
					</div>
				</div>
				<div class="d-flex flex-column justify-content-center mt-4">
					<b class="text-center fs-4">Dirección</b>
					<span class="text-center">Calle Reembolsos #70</span>
					<span class="text-center">Col. Postal, Benito Juárez, C.P 03410</span>
					<span class="text-center">Ciudad de México,
						México</span>
				</div>
				<div class="d-flex flex-column justify-content-center mt-4">
					<b class="text-center fs-4">Contacto</b>
					<span class="text-center"><a href="mailto:contacto@website.local">contacto@website.local</a></span>
				</div>
				<div class="d-flex flex-column justify-content-center mt-4">
					<b class="text-center fs-4">Telefono</b>
					<span class="text-center"><a href="tel:+529991234567">+52 (999) 123 4567</a></span>
				</div>
			</div>
			<div class="d-md-none d-sm-block my-3"></div>
			<div class="col-md-4 col-sm-12 pt-md-0 pt-sm-5 mt-md-0 mt-sm-5">
				<div class="d-flex flex-column justify-content-center mx-0">
					<b class="text-center fs-4">Mapa del sitio</b>
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><a href="./home">Inicio</a></li>
						<li class="list-group-item"><a href="./aboutus">Conócenos</a></li>
						<li class="list-group-item"><a href="./services">Servicios</a></li>
						<li class="list-group-item"><a href="./tableau">Tableau</a></li>
						<li class="list-group-item"><a href="./blog">Blog</a></li>
					</ul>
				</div>
			</div>
			<div class="d-md-none d-sm-block my-3"></div>
			<div class="col-md-4 col-sm-12 pt-md-0 pt-sm-5 mt-md-0 mt-sm-5">
				<div class="d-flex flex-column justify-content-center">
					<b class="text-center fs-4">Nuestras redes</b>
					<div class="my-4"></div>
					<div class="d-flex justify-content-center"><a
							href="https://www.linkedin.com/in/jovani-perez-damian-051ba52b/"
							class="mx-auto fs-2 text-light"><i class="bi bi-linkedin"></i></a>
						<a href="https://www.facebook.com/BlackBlex" class="mx-auto fs-2 text-light"><i
								class="bi bi-facebook"></i></a>
						<a href="https://twitter.com/BlackBlex" class="mx-auto fs-2 text-light"><i
								class="bi bi-twitter"></i></a>
					</div>
					<div class="d-flex justify-content-center mt-4"><a href="https://www.instagram.com/BlackBlex/"
							class="mx-auto fs-2 text-light"><i class="bi bi-instagram"></i></a>
						<a href="" class="mx-auto fs-2 text-light"><i class="bi bi-google"></i></a>
						<a href="skype:BlackBlex?call" class="mx-auto fs-2 text-light"><i class="bi bi-skype"></i></a>
					</div>
					<div class="d-flex justify-content-center mt-4"><a
							href="https://api.whatsapp.com/send?phone=527225336638&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n."
							class="mx-auto fs-2 text-light"><i class="bi bi-whatsapp"></i></a></div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright py-3">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-12">
					<h5>© Website S.A de C.V - Derechos reservados</h5>
				</div>
				<div class="d-md-none d-sm-block my-2"></div>
				<div class="col-md-4 col-sm-12 d-flex justify-content-md-end justify-content-sm-center">
					<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						<b>Aviso de privacidad</b>
					  </button> -->
					<a data-bs-toggle="modal" role="button" data-bs-target="#modalPrivacy"><b>Aviso de
							privacidad</b></a>
				</div>
			</div>
		</div>
	</div>
</footer>
<section>
	<div class="modal fade" id="modalPrivacy" tabindex="-1" aria-labelledby="modalPrivacyLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title fw-bold" id="modalPrivacyLabel">Aviso de privacidad</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
				</div>
				<div class="modal-body pb-0">
					El presente aviso de privacidad se establece en cumplimiento de lo dispuesto en la Ley Federal de
					Protección de Datos Personales en Posesión de los Particulares.
					<br><br>
					<b>Website</b>, con domicilio en <b>Calle Reembolsos #70
						Col. Postal, Benito Juárez, C.P 03410
						Ciudad de México,
						México</b>, es responsable de recabar sus datos personales, del uso que
					se
					le dé a los mismos y de su protección. Su información personal será utilizada para proveer los
					servicios y productos que ha solicitado, informarle sobre cambios en los mismos y evaluar la calidad
					del servicio que le brindamos.<br><br>

					Para las finalidades señaladas en el presente aviso de privacidad, podemos recabar sus datos
					personales de distintas formas: cuando usted nos los proporciona directamente; cuando visita nuestro
					sitio de Internet o utiliza nuestros servicios en línea, y cuando obtenemos información a través de
					otras fuentes que están permitidas por la ley. Recabamos sus datos personales de forma directa
					cuando usted mismo nos los proporciona por diversos medios, como cuando nos contacta o nos da
					información con objeto de que le prestemos un servicio. Los datos que obtenemos por este medio
					pueden ser, entre otros: Su nombre, correo electrónico (email), país y ciudad, páginas visitadas
					dentro de nuestro sitio, información para mejorar su experiencia en nuestro sitio como resolución de
					pantalla, explorador y tipo de sistema operativo utilizado. Usted tiene derecho de acceder,
					rectificar y cancelar sus datos personales, así como de oponerse al tratamiento de los mismos o
					revocar el consentimiento que para tal fin nos haya otorgado, a través de los procedimientos que
					hemos implementado.<br><br>

					En este Aviso de Privacidad se explica nuestra política respecto de la recolección, uso, divulgación
					y transmisión de los datos de usuarios por parte de <b>Website</b> . La presente
					política se podrá modificar a medida que actualizamos y ampliamos nuestros servicios. Por lo tanto,
					se recomienda consultarla periódicamente. Si accede a nuestro sitio web o de otro modo utiliza
					nuestro servicio, significa que presta su consentimiento a nuestras prácticas sobre
					información.<br><br>

					Importante: el presente Aviso de privacidad incluye hipervínculos a los que se puede acceder
					únicamente a través de nuestro sitio web, de modo que tendrá que visitar el sitio web para consultar
					los términos adicionales a los que se accede a través de los hipervínculos.<br><br>

					La presente política se podrá modificar a medida que actualizamos y ampliamos nuestros servicios.
					Consulte regularmente si existe alguna actualización a esta política. Usted acuerda que su
					aceptación de los Términos de Uso y el Aviso de privacidad posterior a su consentimiento original,
					así como el uso del sitio web de <b>Website</b> o el uso continuo de nuestro
					servicio después de publicar un cambio a esta política implica que acepta dichos cambios y se obliga
					a respetarlos. Podrá acceder a la última versión de esta Aviso de privacidad visitando nuestro sitio
					web y haciendo clic en “Aviso de privacidad” al pie de las páginas del sitio web de
					<b>http://localhost/</b><br><br>

					Para garantizar el correcto resguardo de sus datos personales y para dar pleno cumplimiento a las
					obligaciones que la LFPDPPP establece en la materia, se le informa que <b>Website</b> tiene
					implementadas las medidas de seguridad administrativas, técnicas y físicas
					necesarias y suficientes para evitar su daño, pérdida, alteración, destrucción, uso, acceso o
					divulgación indebida. Los Datos Personales que han proporcionados serán conservados por un periodo
					de 1 año, excepto la que fiscalmente debe considerarse por 5 años, en medios físicos y electrónicos,
					y posteriormente descartados para evitar un tratamiento indebido de los mismos.<br><br>

					En ningún caso <b>Website</b> transferirá los datos personales de sus clientes a un
					tercero, sin el consentimiento previo de los titulares.<br><br><br>


					<b class="fs-2">PROCEDIMIENTO PARA HACER VALER LOS DERECHOS ARCO. -</b><br><br>
					Usted tiene derecho de acceder a sus datos personales que poseemos y a los detalles del tratamiento
					de estos, así como a rectificarlos en caso de ser inexactos o incompletos; cancelarlos cuando
					considere que no se requieren para alguna de las finalidades señalados en el presente aviso de
					privacidad, estén siendo utilizados para finalidades no consentidas o haya finalizado la relación
					contractual o de servicio, o bien, oponerse al tratamiento de los mismos para fines
					específicos<br><br>

					Los mecanismos que se han implementado para el ejercicio de dichos derechos, los cuales se conocen
					como derechos Arco mismos que se refieren a la rectificación, cancelación y oposición del Titular
					respecto al tratamiento de sus datos personales;<br><br>

					1) El procedimiento inicia con la presentación de la solicitud respectiva a los derechos Arco, a
					través del correo electrónico contacto@turing-ia.com.<br><br>

					2) Su solicitud deberá contener la siguiente información: Nombre del titular de los datos
					personales. Domicilio o cualquier otro medio de contacto. Documentos que acrediten su personalidad e
					identidad. La descripción clara y precisa de los datos personales. Cualquier otro documento que
					facilite la localización de los datos.<br><br>

					3) El plazo para atender su solicitud es de: 15 días hábiles. La última versión del presente Aviso
					de privacidad prevalecerá sobre todas las versiones anteriores.<br><br><br>
				</div>
			</div>
		</div>
	</div>
</section>
