footer {
	background-color: rgba(0, 0, 0, 0.788);
	color: white;
}

footer>.container .flag {
	position: relative;
	width: 50px;
	height: 25px;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
	overflow: hidden;
}

footer>.container .list-group-item {
	background-color: transparent !important;
	border-bottom: transparent !important;
}


footer>.container .list-group-item>a {
	color: white !important;
}

footer>.container .mexico {
	background: linear-gradient(to right,
			#006845 33%,
			#fff 33%,
			#fff 66%,
			#cf0922 0);
	display: grid;
	place-items: center;
}

footer>.copyright {
	background-color: rgba(0, 0, 0, 0.788);
}

footer>.copyright h5 {
	margin-bottom: 0;
}
