<section id="contact-header">
	<div class="banner">
		<div class="video-player">
			<div class="cover-black"></div>
			<!-- poster="assets/images/posters/conference-meeting.png"  -->
			<video loop autoplay playsinline muted>
				<source src="assets/videos/header/a-girl-writes-on-the-sticky-note.mp4" type="video/mp4">
			</video>
		</div>
		<div class="my-5">&nbsp;</div>
		<div class="container">
			<h1><b>Contacto</b></h1>
			<h2>Hablemos sobre tu siguiente caso de exito</h2>
		</div>
	</div>
</section>
<app-contact-form></app-contact-form>
