<section id="tableau-home">
	<div class="banner">
		<div class="video-player">
			<div class="cover-black"></div>
			<!-- poster="assets/images/posters/conference-meeting.png"  -->
			<video loop autoplay playsinline muted>
				<source src="assets/videos/header/financial-analysis.mp4" type="video/mp4">
			</video>
		</div>
		<div class="my-5">&nbsp;</div>
		<div class="container">
			<h1><b>Tableau</b></h1>
			<h2>Ayuda a las personas a ver y comprender los datos</h2>
		</div>
	</div>
</section>
<app-tableau-information></app-tableau-information>
