* {
	--bs-nav-link-color: rgba(0, 0, 0, 0.788);
	--bs-nav-pills-link-active-bg: rgba(0, 0, 0, 0.788);
	--bs-nav-link-hover-color: rgba(0, 0, 0, 0.588);
	--bs-border-color: rgba(0, 0, 0, 0.788);
}

.scroll-item {
	scroll-margin: 140px;
}

hr {
	opacity: 1;
}

.nav-link {
	border-radius: 0;
}

.scrollspy-tableau {
	scroll-margin: 100px;
	max-height: 90vh;
	height: 90vh;
	/* overflow-y: scroll; */
	/* scrollbar-width: none;
	-ms-overflow-style: none; */
}

/* .scrollspy-tableau::-webkit-scrollbar {
	width: 0;
	height: 0;
} */
