<section id="tableau-information" class="my-2">
	<div class="container fw-bold my-2 pt-5 pb-2">
		<h2><b>¿Qué es tableau?</b></h2>
		<p class="fs-4">Es un software capaz de brindarle a tu empresa panoramas completos de análisis de datos.
			Facilita la toma de decisiones basada en información de confianza</p>
		<p class="fs-4">Su uso es comprensible para todas las áreas dentro de la empresa</p>
	</div>

	<div class="container text-bg-light p-3 d-flex justify-content-center">
		<a class="me-4"
			href="https://partners.tableau.com/UserData//3459/Mailings/27aca0fc-5f85-4b18-af78-d8b6c8e2a659.htm">Descargue
			Tableau Prep</a>
		<a class="ms-4"
			href="https://partners.tableau.com/UserData//3459/Mailings/6e9795d2-6013-4575-b097-bbf0c7eee70b.htm">Descargue
			Tableau Server</a>
	</div>
	<div class="container fw-bold my-2 py-2">
		<h2 class="text-center"><b>Productos</b></h2>
	</div>
	<nav id="navbar-tableau" class="navbar sticky-top bg-light px-5 mb-3">
		<ul class="nav nav-pills nav-fill w-100">
			<li class="nav-item">
				<a class="text-center nav-link" (click)="scrollPoint(tableauPrep); false" href="#tableauPrep">
					<span class="fw-bold text-center">Tableau Prep</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="text-center nav-link" (click)="scrollPoint(tableauDesktop); false" href="#tableauDesktop">
					<span class="fw-bold text-center">Tableau Desktop</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="text-center nav-link" (click)="scrollPoint(tableauCloud); false" href="#tableauCloud">
					<span class="fw-bold text-center">Tableau Cloud</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="text-center nav-link" (click)="scrollPoint(tableauServer); false" href="#tableauServer">
					<span class="fw-bold text-center">Tableau Server</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="text-center nav-link" (click)="scrollPoint(tableauDataManagement); false"
					href="#tableauDataManagement">
					<span class="fw-bold text-center">Tableau data management</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="text-center nav-link" (click)="scrollPoint(tableauServerManagement); false"
					href="#tableauServerManagement">
					<span class="fw-bold text-center">Tableau server management</span>
				</a>
			</li>
		</ul>
	</nav>
	<div data-bs-spy="scroll" data-bs-target="#navbar-tableau" data-bs-root-margin="0px 0px -25%"
		data-bs-smooth-scroll="true" class="scrollspy-example bg-light p-3 rounded-2" tabindex="0">
		<div class="scroll-item mx-md-4 mx-sm-2 my-1 pt-5" id="tableauPrep" #tableauPrep>
			<h3 class="fw-bold text-center">Table Prep</h3>
			<p class="fw-bold">Cambia la forma en que se realiza la preparación de datos tradicional en una
				organización. Al proporcionar una forma visual y directa de combinar, dar forma y limpiar datos.
				Asimismo, automatiza los flujos de preparación de datos. Así podrá completar los análisis y obtener la
				información mucho más rápido</p>
			<div class="row py-4">
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/prep.png" alt="Tableau Prep" (click)="previewImage($event);"></div>
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Preparación de datos de autoservicio</p>
					<p> Tableau Prep cambia la forma tradicional de realizar la preparación de datos en una
						organización.
						Gracias a que proporciona una forma visual y directa de combinar, dar forma y limpiar los datos,
						Tableau
						Prep hace que sea más sencillo para los analistas y los usuarios corporativos iniciar sus
						análisis
						más
						rápidamente. Tableau Prep está compuesto por dos productos: Por un lado, Tableau Prep Builder,
						que
						se
						utiliza para crear los flujos de datos. Por otro lado, Tableau Prep Conductor, que permite
						programar,
						supervisar y administrar los flujos en toda la organización.

						Tableau Prep está compuesto por dos productos: Por un lado, Tableau Prep Builder, que se utiliza
						para
						crear los flujos de datos. Por otro lado, Tableau Prep Conductor, que permite programar,
						supervisar
						y
						administrar los flujos en toda la organización.
					</p>
				</div>
			</div>

			<p class="fw-bold text-center fs-2">Tableau Prep Builder</p>
			<div class="row py-4">
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Una visión completa de sus datos
					</p>
					<p>Tres vistas coordinadas le permiten ver los datos a nivel de fila, los perfiles de cada columna y
						el proceso de preparación de datos completo. Seleccione la vista con la que desea interactuar
						según la tarea en cuestión.
					</p>
				</div>
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/complete_picture_of_data_full.png" alt="Tableau Prep Builder"
						(click)="previewImage($event);"></div>
			</div>
			<div class="row py-4">
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/immediate-results-gif_cropped.gif" alt="Tableau Prep Builder"
						(click)="previewImage($event);"></div>
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Resultados inmediatos
					</p>
					<p>Si desea editar un valor, puede seleccionarlo y modificarlo directamente. Cambie el tipo de unión
						de columnas y vea los resultados de inmediato. Con cada acción podrá comprobar al instante los
						cambios en los datos, incluso si se trata de millones de filas de datos. Con Tableau Prep
						Builder puede cambiar el orden de los pasos libremente y experimentar sin consecuencias.
					</p>
				</div>
			</div>
			<div class="row py-4">
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Trabajo más rápido e inteligente
					</p>
					<p>Reemplace las diapositivas estáticas con historias vivas. Permita que las exploren otras
						personas. Cree un relato atractivo para que sus colegas hagan sus propias preguntas y analicen
						visualizaciones interactivas con datos actualizados. Forme parte de una cultura de colaboración
						de datos. Extienda el impacto de su información.
					</p>
				</div>
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/smart-gif_cropped.gif" alt="Tableau Prep Builder"
						(click)="previewImage($event);"></div>
			</div>
			<div class="row py-4">
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/prep_0.png" alt="Tableau Prep Builder"
						(click)="previewImage($event);"></div>
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Conéctese a más datos
					</p>
					<p>Conéctese a los datos en las instalaciones físicas o en la nube, ya sea una base de datos o una
						hoja de cálculo. Acceda a datos diversos, combínelos y límpielos sin necesidad de escribir
						código. Tableau Prep Builder envía las operaciones a la base de datos de forma inteligente
						siempre que sea posible. De este modo, puede aprovechar las inversiones en bases de datos
						existentes para lograr un rendimiento de ejecución de los flujos más rápido.
					</p>
				</div>
			</div>
			<div class="row py-4">
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Manténgase en el flujo
					</p>
					<p>Manténgase en el flujo del análisis. Abra sus resultados con Tableau Desktop o compártalos con
						otros mediante Tableau Server o Tableau Online con total facilidad. La capacidad de compartir
						datos más fácilmente reduce la fricción y ayuda a acortar la brecha entre la preparación de
						datos y el análisis. De esta manera, se logran mejores resultados en el negocio.
					</p>
				</div>
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/stay_in_the_flow_cropped2.png" alt="Tableau Prep Builder"
						(click)="previewImage($event);"></div>
			</div>

			<p class="fw-bold text-center fs-2">Tableau Prep Conductor</p>
			<div class="row py-4">
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/immediate-results-gif_cropped.gif" alt="Tableau Prep Conductor"
						(click)="previewImage($event);"></div>
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Comparta y ejecute los flujos de trabajo en el servidor
					</p>
					<p>Con Tableau Prep Conductor, puede publicar y ejecutar flujos de trabajo fácilmente en su entorno
						de servidor. Comparta sus fuentes de datos de manera segura con Tableau Server o Tableau Online.
						Cree un entorno en el que todas las personas de su organización puedan trabajar con datos
						preparados y actualizados.
					</p>
				</div>
			</div>
			<div class="row py-4">
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Programe sus flujos de trabajo
					</p>
					<p>Programe sus flujos de trabajo para que se ejecuten cuando los necesite, sin importar el momento
						del día. Automatice los procesos de preparación de datos a fin de contar siempre con datos
						actualizados, preparados y listos para el análisis.
					</p>
				</div>
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/prep_conductor_flow_scheduling-v2.png" alt="Tableau Prep Conductor"
						(click)="previewImage($event);"></div>
			</div>
			<div class="row py-4">
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/prep_conductor_run_history-v2.png" alt="Tableau Prep Conductor"
						(click)="previewImage($event);"></div>
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Supervise los flujos de trabajo en todo el servidor
					</p>
					<p>Supervise los flujos de trabajo con las mismas herramientas que están disponibles en Tableau
						Server en la actualidad. Consulte la página de estado, use las vistas administrativas y ejecute
						el historial para ver el estado del flujo en todo el servidor. Así podrá solucionar todos los
						problemas que surjan rápidamente. Manténgase al tanto del estado de los flujos de trabajo con
						alertas proactivas
					</p>
				</div>
			</div>
		</div>
		<hr class="border border-5">

		<div class="scroll-item mx-md-4 mx-sm-2 my-1 pt-5" id="tableauDesktop" #tableauDesktop>
			<h3 class="fw-bold text-center">Tableau Desktop</h3>
			<p class="fw-bold">Deje atrás a los creadores de gráficos. Los análisis visuales en vivo impulsan la
				exploración de datos ilimitada</p>
			<div class="row py-4">
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/getinsightsfast.gif" alt="Tableau Desktop"
						(click)="previewImage($event);">
				</div>
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Obtenga información útil rápidamente</p>
					<p>Olvídese de los creadores de gráficos. Con el análisis visual en tiempo real, la exploración de
						datos no conoce límites. Los dashboards interactivos lo ayudan a descubrir información oculta al
						instante. Tableau aprovecha la capacidad natural de las personas para detectar patrones visuales
						rápidamente. Permite descubrir oportunidades y experimentar momentos reveladores todos los días.
					</p>
				</div>
			</div>
			<div class="row py-4">
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Conéctese a más datos
					</p>
					<p>Conéctese a los datos en las instalaciones físicas o en la nube, ya sea una base de datos o una
						hoja de cálculo. Acceda a datos diversos, combínelos y límpielos sin necesidad de escribir
						código. Tableau Prep Builder envía las operaciones a la base de datos de forma inteligente
						siempre que sea posible. De este modo, puede aprovechar las inversiones en bases de datos
						existentes para lograr un rendimiento de ejecución de los flujos más rápido.
					</p>
				</div>
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/prep_0.png" alt="Tableau Desktop" (click)="previewImage($event);">
				</div>
			</div>
			<div class="row py-4">
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/answer-deeper-questions.gif" alt="Tableau Desktop"
						(click)="previewImage($event);"></div>
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Responda preguntas más profundas</p>
					<p>Para hacer análisis excepcionales, no basta con un dashboard atractivo. Realice cálculos eficaces
						rápidamente a partir de datos existentes, arrastre y suelte líneas de referencia y pronósticos,
						y revise resúmenes estadísticos. Transmita su idea con análisis de tendencias, regresiones y
						correlaciones para alcanzar una comprensión estadística de eficacia probada. Haga nuevas
						preguntas, detecte tendencias, identifique oportunidades y tome decisiones basadas en los datos
						con confianza.
					</p>
				</div>
			</div>
			<div class="row py-4">
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Ponga sus datos en el mapa</p>
					<p>Responda el “dónde” y el “porqué”. Cree mapas interactivos automáticamente. Los códigos postales
						incorporados permiten un mapeo ultrarrápido para más de 50 países en todo el mundo. Utilice
						territorios y geocodificaciones personalizados para regiones específicas, como áreas de ventas.
						Diseñamos los mapas de Tableau específicamente para ayudarlo a destacar sus datos.
					</p>
				</div>
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/maps2small.png" alt="Tableau Desktop"
						(click)="previewImage($event);"></div>
			</div>
			<div class="row py-4">
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/story_1.png" alt="Tableau Desktop" (click)="previewImage($event);">
				</div>
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Haga participar a todos</p>
					<p>Reemplace las diapositivas estáticas con historias vivas. Permita que las exploren otras
						personas.
						Cree un relato atractivo para que sus colegas hagan sus propias preguntas y analicen
						visualizaciones
						interactivas con datos actualizados. Forme parte de una cultura de colaboración de datos.
						Extienda
						el impacto de su información.
					</p>
				</div>
			</div>
		</div>
		<hr class="border border-5">

		<div class="scroll-item mx-md-4 mx-sm-2 my-1 pt-5" id="tableauCloud" #tableauCloud>
			<h3 class="fw-bold text-center">Tableau Cloud</h3>
			<p class="fw-bold">Es su plataforma de análisis completamente alojada en la nube. Publique Dashboards y
				comparta sus descubrimientos con cualquier persona</p>
			<div class="row py-4">
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/Products_Cloud_Intro.png" alt="Tableau Cloud"
						(click)="previewImage($event);">
				</div>
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Tableau Online ahora es Tableau Cloud!</p>
					<p>Aproveche la solución basada en la nube de nivel
						empresarial totalmente hospedada de la principal plataforma de análisis del mundo. Se trata de
						una plataforma de autoservicio rápida, flexible y fácil de usar, diseñada para adaptarse a la
						arquitectura de su empresa. Además, optimiza la eficacia de los datos para que las personas
						tomen decisiones con más rapidez y confianza desde cualquier lugar. Prepare sus datos, cree,
						analice, colabore, publique y comparta en Tableau Cloud
					</p>
				</div>
			</div>
			<div class="row py-4">
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Tome decisiones más inteligentes más rápido
					</p>
					<p>Adopte una toma de decisiones segura y aproveche la eficacia de sus datos con herramientas
						inteligentes como las historias con datos, Pregunte a los datos y Explique los datos. Ahorre
						tiempo y facilite el análisis para todos al agregar historias con datos, narraciones
						automatizadas y fáciles de entender, en sus dashboards. Explore y responda preguntas de negocios
						clave en lenguaje natural con Pregunte a los datos. Con Explique los datos, descubra el “por
						qué” detrás de la información basada en inteligencia artificial y continúe explorando sin
						límites. Aproveche el Blueprint (modelo) de Tableau para planear el proceso de adopción de los
						datos y convertirse en una organización basada en los datos.
					</p>
				</div>
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/SuperstoreProduct.png" alt="Tableau Cloud"
						(click)="previewImage($event);">
				</div>
			</div>
			<div class="row py-4">
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/Products_Cloud_Workflow.png" alt="Tableau Cloud"
						(click)="previewImage($event);"></div>
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Integre información basada en los datos donde trabaja</p>
					<p>Pase de la información a la acción en el flujo de trabajo. Con Tableau para Slack, acceda a la
						sede digital para el análisis. Ponga los datos en el centro de cada conversación y obtenga
						información basada en los datos desde cualquier lugar. Descubra el análisis incorporado e
						integre sin problemas datos e información en sus productos y aplicaciones para equipar a los
						usuarios y clientes con información basada en los datos. Obtenga acceso a diferentes opciones
						para impulsar el análisis, como aceleradores, conectores y extensiones.
					</p>
				</div>
			</div>
			<div class="row py-4">
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Crezca rápidamente con un análisis sencillo y seguro</p>
					<p>Integre profundamente con la arquitectura de su empresa e impulse la transformación digital.
						Nunca más tendrá que configurar servidores, administrar actualizaciones de software o aumentar
						la capacidad del hardware. Ahorrará tiempo y dinero. Potencie el trabajo en equipo al descubrir,
						compartir, colaborar y explorar datos desde su dispositivo móvil, tableta o equipo en Tableau
						Cloud. Desarrolle y adapte el análisis clave fácilmente mientras mantiene el control de Tableau
						Cloud con la administración avanzada (próximamente). Con ella, disfrutará de escalabilidad
						ilimitada, optimizará la eficiencia y simplificará la seguridad.
					</p>
				</div>
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/Products_Cloud_Innovation.png" alt="Tableau Cloud"
						(click)="previewImage($event);">
				</div>
			</div>
			<div class="row py-4">
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/Products_Cloud_Secure.png" alt="Tableau Cloud"
						(click)="previewImage($event);">
				</div>
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Aumente la confianza en los datos</p>
					<p>La gobernanza, la visibilidad y el control centralizados garantizan que sus datos estén en las
						manos correctas con una administración de permisos y una autenticación sencillas y
						automatizadas. Aproveche el inicio de sesión único (SSO) o su proveedor de identidad. Supervise
						el uso en un único entorno para garantizar el cumplimiento de manera más eficiente. Descubra una
						infraestructura actualizada con los mejores estándares de certificación de seguridad
						disponibles, como SOCII e ISO. La solución integrada en la plataforma Tableau Data Management le
						permite ampliar el uso de datos confiables de una manera simple y repetible.
					</p>
				</div>
			</div>
		</div>
		<hr class="border border-5">

		<div class="scroll-item mx-md-4 mx-sm-2 my-1 pt-5" id="tableauServer" #tableauServer>
			<h3 class="fw-bold text-center">Tableau Server</h3>
			<p class="fw-bold">Difunde el valor de los datos en toda tu organización con Tableau Server. Otórgale poder
				a tu empresa dándole la libertad de explorar los datos en un entorno de confianza, sin limitarlos a
				preguntas predefinidas, asistentes o tipos de gráficos inflexibles</p>
			<div class="row py-4">
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/server_dashboard_overview_3x3.png" alt="Tableau Server"
						(click)="previewImage($event);">
				</div>
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Datos para todos (con responsabilidad)</p>
					<p>Difunda el valor de los datos en toda su organización con Tableau Server. Permita a los miembros
						de su empresa explorar con libertad los datos en un entorno de confianza, sin limitarlos a
						preguntas predefinidas, asistentes o tipos de gráficos inflexibles. Quédese tranquilo sabiendo
						que sus datos y sus análisis son precisos y están gobernados y protegidos. Tableau es fácil de
						implementar, sencillo de escalar y muy confiable. Además, cuenta con una integración sólida. Por
						todo esto a las organizaciones de TI les encanta. Ya no es necesario elegir entre capacitar a la
						empresa o proteger los datos. Con Tableau, finalmente, puede hacer ambas cosas
					</p>
				</div>
			</div>
			<div class="row py-4">
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Formular preguntas con lenguaje natural
					</p>
					<p>Capacite a la organización para que pueda hacer preguntas sobre cualquier fuente de datos
						publicada mediante el lenguaje natural. Con Pregunte a los datos, puede escribir una pregunta y
						obtener respuestas en forma de una visualización. Detrás de escena, Pregunte a los datos utiliza
						algoritmos eficaces para generar perfiles, indexar fuentes de datos y optimizarlas
						automáticamente. Además, con nuestras funcionalidades integrales de creación web, resulta muy
						fácil agregar fuentes de datos adicionales o crear dashboards totalmente interactivos.
					</p>
				</div>
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/server_ask_data_worksheets_gif_1.gif" alt="Tableau Server"
						(click)="previewImage($event);">
				</div>
			</div>
			<div class="row py-4">
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/explain_data_server.png" alt="Tableau Server"
						(click)="previewImage($event);"></div>
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Explicaciones basadas en la inteligencia artificial para sus datos</p>
					<p>Aproveche el poder de la inteligencia artificial para explicar los puntos de datos con un solo
						clic. Según los modelos estadísticos avanzados, Explique los datos lo ayuda a descubrir
						información que no hubiera encontrado de otra manera.
					</p>
				</div>
			</div>
			<div class="row py-4">
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Todos sus datos</p>
					<p>Conéctese a cualquier fuente de datos de manera segura, ya sea en las instalaciones físicas o en
						la nube. Publique y comparta sus fuentes de datos como conexiones en tiempo real o extracciones
						cifradas. Así, todos en la empresa podrán usarlas. Trabaje con fuentes de datos empresariales
						populares: cubos, Cloudera Hadoop, Oracle, AWS Redshift, Teradata, Microsoft SQL Server y muchas
						más. Utilice nuestro conector de datos web y nuestras API para acceder a cientos de fuentes de
						datos adicionales.
					</p>
				</div>
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/data-source-list_2.png" alt="Tableau Server"
						(click)="previewImage($event);">
				</div>
			</div>
			<div class="row py-4">
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/server-data-source-usage.png" alt="Tableau Server"
						(click)="previewImage($event);">
				</div>
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Gobernanza que capacita a la empresa </p>
					<p>Gobernanza sin riesgos. Administre de manera centralizada todos sus metadatos y reglas de
						seguridad. Proporcione fuentes de datos compartidas y actualizadas a sus usuarios. Obtenga
						visibilidad del uso para optimizar su entorno. Alcance la combinación adecuada de flexibilidad y
						control de usuarios.
					</p>
				</div>
			</div>



			<div class="row py-4">
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Seguridad a su manera</p>
					<p>Ya sea que utilice Active Directory, Kerberos, OAuth u otro estándar, Tableau se integra sin
						dificultad en sus protocolos de seguridad actuales. Administre la autenticación a nivel de
						usuario y de grupo. Mantenga la seguridad de su base de datos con permisos de conexión de paso y
						filtrado de filas. Proteja el contenido y los usuarios con opciones de multiinquilino y control
						de permisos avanzado.
					</p>
				</div>
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/visual_permissions2v2-optim.png" alt="Tableau Server"
						(click)="previewImage($event);">
				</div>
			</div>
			<div class="row py-4">
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/servercloud.png" alt="Tableau Server"
						(click)="previewImage($event);">
				</div>
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Implementación flexible</p>
					<p>Tanto si almacena datos en las instalaciones físicas como en la nube, Tableau Server se integra
						en su infraestructura de datos existente, con total flexibilidad. Para obtener el máximo control
						bajo la protección de su firewall, instale Tableau Server localmente en Windows o en Linux.
						Impleméntelo en la nube pública con AWS, Azure o Google Cloud Platform para aprovechar su
						inversión en la nube actual.
					</p>
				</div>
			</div>

			<div class="row py-4">
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Capacitar a las organizaciones con datos</p>
					<p>Con Tableau Server, todos los miembros de la organización pueden ver y comprender los datos,
						gracias a sus opciones diseñadas para todo tipo de usuarios. Esto incluye desde usuarios
						generales que buscan tomar decisiones basadas en los datos a partir de un dashboard publicado
						hasta fanáticos de los datos que desean usar la creación web para hacer nuevas preguntas a
						partir de fuentes de datos publicadas. También comprende a los fanáticos de los datos que crean
						visualizaciones y fuentes de datos y las comparten con el resto de la organización.
					</p>
				</div>
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/superstore_forecast_creator_server.png" alt="Tableau Server"
						(click)="previewImage($event);">
				</div>
			</div>
			<div class="row py-4">
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/servermanagement_0.png" alt="Tableau Server"
						(click)="previewImage($event);">
				</div>
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Supervisión y administración eficaces</p>
					<p>La plataforma de Tableau es fácil de implementar, adaptar y supervisar. Supervise y administre
						fácilmente el contenido, los usuarios, las licencias y el rendimiento. Administre permisos con
						rapidez para las fuentes de datos y el contenido, y supervise el uso de manera visual. En las
						implementaciones de gran tamaño, el complemento Tableau Server Management Add-on proporciona
						beneficios adicionales de supervisión, administración y escalabilidad.
					</p>
				</div>
			</div>

			<div class="row py-4">
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Mejore la administración de su entorno de datos</p>
					<p>Con Tableau Data Management, puede administrar mejor los datos dentro del entorno de análisis. De
						esa manera, se asegura de utilizar siempre datos confiables y actualizados para la toma de
						decisiones. Desde la preparación de datos con Tableau Prep Conductor, hasta la generación de
						catálogos, la búsqueda y la gobernanza con Tableau Catalog, Tableau Data Management Add-on lo
						ayudará a generar confianza en los datos. Como resultado, podrá acelerar la adopción del
						análisis de autoservicio.
					</p>
				</div>
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/server_prep-conductor.png" alt="Tableau Server"
						(click)="previewImage($event);">
				</div>
			</div>
		</div>
		<hr class="border border-5">

		<div class="scroll-item mx-md-4 mx-sm-2 my-1 pt-5" id="tableauDataManagement" #tableauDataManagement>
			<h3 class="fw-bold text-center">Tableau Data Management
			</h3>
			<p class="fw-bold">Te ayuda a administrar mejor los datos dentro de tu entorno de análisis, asegurando que
				siempre se usen datos confiables y actualizados para tomar decisiones</p>
			<div class="row py-4">
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/OrderFact_Catalog_Lineage.png" alt="Tableau Data Management"
						(click)="previewImage($event);">
				</div>
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Brinde datos de alta calidad con Tableau Catalog</p>
					<p>El catálogo de análisis nativo, brinda una vista completa de las fuentes y los activos de datos.
						Además, lo ayuda a comprender la dependencia de los datos y proporciona metadatos en contexto
						para un descubrimiento más rápido. Con el objetivo de ayudar a mejorar la toma de decisiones, se
						comparten detalles de los datos, incluidas las advertencias de calidad, justo donde se consumen
					</p>
				</div>
			</div>
			<div class="row py-4">
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Mantenga los datos actualizadas con Tableau Prep Conductor
					</p>
					<p>Tableau Prep Conductor crea un entorno con datos preparados y listos para usar, disponibles para
						todos. Automatice cómo programa, supervisa y administra flujos de datos para siempre tener datos
						actualizados disponibles para el análisis.
					</p>
				</div>
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/NEW UI_Prep Conductor_Scheduled Tasks.jpg"
						alt="Tableau Data Management" (click)="previewImage($event);">
				</div>
			</div>
			<div class="row py-4">
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/vconn7_password.gif" alt="Tableau Data Management"
						(click)="previewImage($event);"></div>
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Rediseñe la gobernanza de datos con las conexiones virtuales</p>
					<p>Las conexiones virtuales son la clave para compartir datos seguros fácilmente en Tableau. Mejore
						los datos a lo largo de todo el ciclo de vida con políticas coherentes para todos los usos. De
						esta manera podrá asegurarse de que se comporten cómo usted quiere, en especial en el caso de
						los datos confidenciales.
					</p>
				</div>
			</div>
		</div>
		<hr class="border border-5">

		<div class="scroll-item mx-md-4 mx-sm-2 my-1 pt-5" id="tableauServerManagement" #tableauServerManagement>
			<h3 class="fw-bold text-center">Tableau Server
				Management</h3>
			<p class="fw-bold">Tableau Server Management Add-on facilita la ejecución de implementaciones de Tableau
				Server grandes y de misión crítica</p>
			<div class="row py-4">
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/SM_Explainer_0.png" alt="Tableau Server Management"
						(click)="previewImage($event);">
				</div>
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Su función es</p>
					<p>Garantizar: escalabilidad, disponibilidad, capacidad de administración y seguridad para
						simplificar los procesos de administración. Satisfaga sus requisitos específicos de
						implementación y configuración. Aproveche la experiencia y las inversiones en tecnología
						existentes, y optimice su entorno para alcanzar un verdadero análisis de autoservicio escalable
					</p>
				</div>
			</div>
			<div class="row py-4">
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Aumente la disponibilidad y la escalabilidad
					</p>
					<p>Mediante procesos externos, integre la implementación aún más con la arquitectura empresarial y
						los servicios en la nube. Así, podrá implementar y configurar según sus especificaciones.
						Satisfaga sus requisitos de recuperación ante desastres, reduzca el RTO y logre actualizaciones
						más rápidas con tiempos de generación de copias de seguridad y restauración más acelerados. De
						esa manera, siempre estará actualizado. Optimice los trabajos de suscripción y actualización de
						extracciones del procesador en segundo plano. Además, establezca límites para los recursos del
						procesador en segundo plano a fin de administrar mejor la carga de trabajo
					</p>
				</div>
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/ResourceLimits.png" alt="Tableau Server Management"
						(click)="previewImage($event);">
				</div>
			</div>
			<div class="row py-4">
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/screenshot2_0.png" alt="Tableau Server Management"
						(click)="previewImage($event);"></div>
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Mejore la eficiencia operativa
					</p>
					<p>Automatice las necesidades empresariales más complejas de supervisión y administración de
						contenido. Logre una mejor visibilidad a través de una supervisión optimizada basada en agentes
						con Tableau Resource Monitoring Tool. Además, reciba las notificaciones de incidentes
						directamente en Slack. Con Tableau Content Migration Tool, defina y programe planes de migración
						repetibles para la administración de contenido. Podrá administrar la migración de contenido
						entre proyectos, sitios o entornos de Tableau Server sin escribir una sola línea de código.
					</p>
				</div>
			</div>
			<div class="row py-4">
				<div class="col-md-8 col-sm-12">
					<p class="fw-bold fs-3">Mejore la seguridad
					</p>
					<p>Instale el proceso de puerta de enlace fuera de Tableau Server o en su DMZ. Configure un servidor
						proxy inverso totalmente compatible con Tableau Server y un equilibrador de carga para mayor
						seguridad y escalabilidad. Simplifique la administración de claves. Centralice sus claves en la
						nube para un cifrado de extracciones en reposo que cumpla con las políticas de seguridad de su
						organización.
					</p>
				</div>
				<div class="col-md-4 col-sm-12"><img class="img-fluid" role="button"
						src="assets/images/tableaus/IndependentGateway_0.png" alt="Tableau Server Management"
						(click)="previewImage($event);">
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<button #openModalButton [hidden]="true" data-bs-toggle="modal" data-bs-target="#modalPreviewImage">Open
		Modal</button>
	<div class="modal fade" id="modalPreviewImage" tabindex="-1" aria-labelledby="modalPreviewImageLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
				</div>
				<div class="modal-body pb-0">
					<img class="img-fluid" #imageToPreview>
				</div>
			</div>
		</div>
	</div>
</section>
