<section id="blog">
	<div class="banner">
		<div class="video-player">
			<div class="cover-black"></div>
			<!-- poster="assets/images/posters/conference-meeting.png"  -->
			<video loop autoplay playsinline muted>
				<source src="assets/videos/header/productive-morning.mp4" type="video/mp4">
			</video>
			<div></div>
		</div>
		<div class="my-5">&nbsp;</div>
		<div class="container">
			<h1><b>Blog</b></h1>
			<h2>Los grandes conocimientos engendran las grandes dudas</h2>
		</div>
	</div>
</section>
<section id="blog-post" class="my-2">
	<div class="container fw-bold my-5 py-3">
		<div class="row g-4">
			<ng-container *ngFor="let post of posts">
				<article class="col-md-4 col-sm-12 d-flex">
					<div class="card flex-grow-1">
						<div class="card-header">
							{{post.title}}
						</div>
						<div class="card-body d-flex flex-column">
							<div class="card-title"><img class="img-fluid" src="{{post.image}}" alt="Interpretación">
							</div>
							<p class="card-text flex-grow-1">{{post.subtitle}}</p>
							<a href="" (click)="previewPost(post.id); false" class="btn btn-primary float-right">Leer
								más</a>
						</div>
						<div class="card-footer text-muted">
							{{post.date}}
						</div>
					</div>
				</article>
			</ng-container>
		</div>
	</div>
</section>
<section id="post-view">
	<button #openModalButton [hidden]="true" data-bs-toggle="modal" data-bs-target="#modalPost">Open Modal</button>
	<div class="modal fade" id="modalPost" data-bs-backdrop="static" tabindex="-1" aria-labelledby="modalPostLabel"
		aria-hidden="true" #postView>
		<div class="modal-dialog modal-xl modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
				</div>
				<div class="modal-body pb-0">
					<img class="post-image img-fluid" #postImage>
					<div class="post-data d-flex justify-content-center flex-column">
						<img src="assets/images/logoo.png" class="img-thumbnail mx-auto border rounded-circle"
							width="128px" height="128px" alt="Author">
						<span class="text-center">Escrito por <label class="fw-bold" #postAuthor></label></span><span
							class="text-center">el <label class="fw-bold" #postDate></label></span>
						<hr>
						<figure>
							<blockquote class="blockquote">
								<p class="modal-title fw-bold text-center fs-3" id="modalPostLabel" #postTitle>
								</p>
							</blockquote>
							<figcaption class="blockquote-footer text-center fs-6 text-secondary">
								<label #postDescription></label>
							</figcaption>
						</figure>
						<hr>
						<div class="container" #postText>

						</div>
						<div class="container" #postReferences>

						</div>
					</div>
					<hr class="border-3">
					<div class="post-share d-flex flex-column pb-4">
						<span class="fs-4 fw-bold text-center">¿Te gusta lo que estás leyendo?</span>
						<span class="fs-5 text-center">Compartelo con tus amigos!</span>
						<div class="d-flex justify-content-center">
							<a class="mx-auto" #postShareFacebook><i class="bi bi-facebook fs-2 text-primary"></i></a>
							<a class="mx-auto" #postShareTwitter><i class="bi bi-twitter fs-2 text-info"></i></a>
							<a class="mx-auto" #postShareMail><i class="bi bi-envelope fs-2 text-dark"></i></a>
							<a class="mx-auto" #postShareLinkedin><i class="bi bi-linkedin fs-2 text-primary"></i></a>
						</div>
						<span class="fs-4 text-center fw-bold">ó</span>
						<span class="fs-5 text-center">Inscríbete a nuestro newsletter</span>
						<div class="subscription d-flex justify-content-center">
							<form class=" row g-3">
								<div class="col-auto">
									<label for="email" class="visually-hidden">Correo electronico</label>
									<input type="text" class="form-control" id="email" value="email@example.com">
								</div>
								<div class="col-auto">
									<button type="submit" class="btn btn-primary mb-3">Suscribir</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
