* {
	--bs-border-color: #f7f7f7;
}

.banner {
	color: white;
	height: var(--banner-height);
}

.cover-black {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: -2;
}

#post-view .post-image {
	max-height: 300px;
	width: 100%;
	object-fit: cover;
	object-position: top center;
}

#post-view .post-data {
	position: relative;
	top: -64px;
}

#post-view .post-data .blockquote-footer::before {
	content: '' !important;
}

#post-view .post-data .blockquote-footer label {
	width: 80% !important;
}

.video-player {
	position: absolute;
	background-color: black;
	height: var(--video-player-height);
	width: 100%;
	overflow: hidden;
	top: 0;
	z-index: -1;
}

.video-player>video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -3;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
