a {
	color: white;
}

.banner {
	color: white;
	height: var(--banner-height);
}

.banner a {
	animation: wiggle 2s linear infinite;
	position: absolute;
}

.carousel-caption {
	background-color: rgba(0, 0, 0, 0.568);
}

.carousel-item {
	max-height: 80vh;
	border-radius: 30px;
	overflow: hidden;
}

.cover-black {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: -2;
}

#location h2 {
	display: inline-block !important;
}

.logo-tecnology {
	filter: grayscale(100%);
}

.logo-tecnology:hover {
	filter: grayscale(0%);
}

.map-location {
	width: 100%;
	height: 55vh;
}

.software a {
	color: var(--bs-body-color) !important;
}

.software a:hover .icon {
	color: #E66F1A;
}

.software a:hover .soft {
	color: #203A75;
}

.software a:hover .ware {
	color: #5A5F8D;
}

.video-player {
	position: absolute;
	background-color: black;
	overflow: hidden;
	height: var(--video-player-height);
	width: 100%;
	top: 0;
	z-index: -1;
}

.video-player>video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -3;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}


/* Animations */
@keyframes wiggle {

	0%,
	7% {
		transform: rotateZ(0);
	}

	15% {
		transform: rotateZ(-15deg);
	}

	20% {
		transform: rotateZ(10deg);
	}

	25% {
		transform: rotateZ(-10deg);
	}

	30% {
		transform: rotateZ(6deg);
	}

	35% {
		transform: rotateZ(-4deg);
	}

	40%,
	100% {
		transform: rotateZ(0);
	}
}
