<section id="home">
	<div class="banner">
		<div class="video-player">
			<div class="cover-black"></div>
			<!-- poster="assets/images/posters/conference-meeting.png"  -->
			<video loop autoplay playsinline muted>
				<source src="assets/videos/header/conference-meeting.mp4" type="video/mp4">
			</video>
			<div></div>
		</div>
		<div class="my-5">&nbsp;</div>
		<div class="container">
			<h1><b>Bienvenido</b></h1>
			<h2>Un mundo para todos</h2>
		</div>
		<div class="my-5 py-1">&nbsp;</div>
		<div class="d-flex justify-content-center mt-4 mx-auto">
			<a href="./aboutus">
				<h4>Conócenos</h4>
			</a>
		</div>
	</div>
</section>
<section id="what-we-do" class="my-2">
	<div class="container fw-bold my-5 py-3">
		<h2><b>¿Qué hacemos?</b></h2>
		<p class="fs-4">Contribuimos con su empresa para mejorar la toma de decisiones a través de sus datos</p>
	</div>
</section>
<section id="services" class="my-2">
	<div class="container fw-bold my-5 py-3">
		<h2 class="text-end"><b>¿Qué ofrecemos?</b></h2>
		<div id="carouser-services" class="carousel slide" data-bs-ride="false">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouser-services" data-bs-slide-to="0" class="active"
					aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouser-services" data-bs-slide-to="1"
					aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouser-services" data-bs-slide-to="2"
					aria-label="Slide 3"></button>
				<button type="button" data-bs-target="#carouser-services" data-bs-slide-to="3"
					aria-label="Slide 4"></button>
				<button type="button" data-bs-target="#carouser-services" data-bs-slide-to="4"
					aria-label="Slide 5"></button>
				<button type="button" data-bs-target="#carouser-services" data-bs-slide-to="5"
					aria-label="Slide 6"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="assets/images/carousel_services/1.jpg" class="d-block w-100 img-fluid" alt="...">
					<div class="carousel-caption px-1 px-md-4">
						<h3>Desarrollo de software</h3>
						<p class="d-none d-md-block">En un mundo moderno, con la cantidad de problemas y su complejidad
							cada vez es mayor, el
							desarrollo de aplicaciones, una herramienta para obtener soluciones precisas, dándole tareas
							repetitivas a la computadora y logrando así la "automatización" de procesos que todavía
							requieren la intervención de las personas en tareas repetitivas</p>
					</div>
				</div>
				<div class="carousel-item">
					<img src="assets/images/carousel_services/2.jpg" class="d-block w-100 img-fluid" alt="...">
					<div class="carousel-caption px-1 px-md-4">
						<h3>Business Analyst</h3>
						<p class="d-none d-md-block">Nuestra metodología de servicios se encuentra orientada en los
							estándares del Project
							Management Institute (PMI) ® e International Project Management Association (IPMA). Esto nos
							permite contar con las competencias para coordinar equipos de trabajo en el inicio,
							planeación, construcción, monitoreo y control de las actividades y recursos involucrados en
							un proyecto a partir de los objetivos y requerimientos de nuestro cliente</p>
					</div>
				</div>
				<div class="carousel-item">
					<img src="assets/images/carousel_services/3.jpg" class="d-block w-100 img-fluid" alt="...">
					<div class="carousel-caption px-1 px-md-4">
						<h3>Capacitación</h3>
						<p class="d-none d-md-block">Nuestra gama de cursos de Tableau incluye: Tableau Prep Tableau
							Desktop Visual Analytics
							Tableau Server Adicionalmente ofrecemos cursos sobre: Business Intelligence, Data Mining,
							Big Data, Data to Insight</p>
					</div>
				</div>
				<div class="carousel-item">
					<img src="assets/images/carousel_services/4.jpeg" class="d-block w-100 img-fluid" alt="...">
					<div class="carousel-caption px-1 px-md-4">
						<h3>Workshoop (Blue print)</h3>
						<p class="d-none d-md-block">Su estrategia debe abarcar la gestión de personas, procesos y
							cambios, incluida la
							identificación de casos de uso comercial inmediatos, la definición de roles,
							responsabilidades, el establecimiento de medidas para evaluar el éxito y el impacto</p>
					</div>
				</div>
				<div class="carousel-item">
					<img src="assets/images/carousel_services/5.jpg" class="d-block w-100 img-fluid" alt="...">
					<div class="carousel-caption px-1 px-md-4">
						<h3>Venta de software</h3>
						<p class="d-none d-md-block">Nos dedicamos a la venta de licencias de software, podemos
							recomendarle los sistemas que de
							acuerdo a sus necesidades son más adecuados</p>
					</div>
				</div>
				<div class="carousel-item">
					<img src="assets/images/carousel_services/6.jpg" class="d-block w-100 img-fluid" alt="...">
					<div class="carousel-caption px-1 px-md-4">
						<h3>Venta de hardware</h3>
						<p class="d-none d-md-block">Trabajamos con los mejores proveedores de México y tenemos la
							capacidad de cubrir cualquier
							necesidad que tenga de hardware. Redes, computadoras, impresoras y accesorios</p>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouser-services"
				data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouser-services"
				data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>
</section>
<section id="our-clients" class="my-2">
	<div class="container fw-bold my-3 py-3">
		<h2><b>¿Qué opinan de nosotros?</b></h2>
		<div class="row">
			<div class="col-sm-3 mt-4">
				<div class="card">
					<img src="assets/images/cases/verizon.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<p class="card-text">Verizon usa Tableau para reducir las llamadas de soporte en un 43 % y así
							mejorar la experiencia del
							cliente</p>
					</div>
				</div>
			</div>
			<div class="col-sm-3 mt-4">
				<div class="card">
					<img src="assets/images/cases/mondelezteaser.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<p class="card-text">Mondelez International digitaliza la adquisición para integrar más de 160
							campos de datos, 28 000 proveedores y generar millones en ahorro de costos </p>
					</div>
				</div>
			</div>
			<div class="col-sm-3 mt-4">
				<div class="card">
					<img src="assets/images/cases/redhatteaser.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<p class="card-text">Red Hat adopta el Blueprint de Tableau y Tableau Online, y profundiza en la
							cultura de datos con más de 4500 empleados en menos de un año</p>
					</div>
				</div>
			</div>
			<div class="col-sm-3 mt-4">
				<div class="card">
					<img src="assets/images/cases/wholefoodsteaser1.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<p class="card-text">Whole Foods Market democratiza el acceso a los datos en sus 460 tiendas
							para 18 000 empleados gracias a Tableau</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="out-tecnologies" class="my-2">
	<div class="container fw-bold my-3 py-3">
		<h2 class="text-center"><b>¿Qué tecnologías usamos?</b></h2>
		<div class="tecnologies row my-1 pt-4 pb-2 d-flex justify-content-center">
			<div class="software col-md-3 col-sm-12 d-flex justify-content-center mt-5 mt-md-0 align-self-center">
				<a href="./software"><b class="fs-3"><span class="icon">&#x2230;</span>&nbsp;<span
							class="soft">Soft</span><span class="ware">ware</span></b></a>
			</div>
			<div class="salesforce col-md-3 col-sm-12 d-flex justify-content-center mt-5 mt-md-0 align-self-center">
				<a href="./services"><img class="logo-tecnology" src="assets/images/tecnologies/salesforce.svg"
						width="120px" alt="Salesforce"></a>
			</div>
			<div
				class="project-management-institute col-md-3 col-sm-12 d-flex justify-content-center mt-5 mt-md-0 align-self-center">
				<a href="./services"><img class="logo-tecnology" src="assets/images/tecnologies/pmi.svg" width="180px"
						alt="Project Management Institure"></a>
			</div>
			<div class="scrum col-md-3 col-sm-12 d-flex justify-content-center mt-5 mt-md-0 align-self-center">
				<a href="./services"><img class="logo-tecnology" src="assets/images/tecnologies/scrum.png" width="200px"
						alt="Scrum"></a>
			</div>
		</div>
	</div>
</section>
<section id="location" class="my-2">
	<div class="container fw-bold my-3 py-3">
		<h2><b>Nos ubicamos</b></h2>
		<div class="row mb-4 mb-md-3">
			<div class="col-12"><iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.5172333099617!2d-99.14508798413675!3d19.39004551134307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fefec63ff699%3A0x3bf76cc1c9205ede!2sCAMBIFON!5e0!3m2!1ses-419!2smx!4v1669757617336!5m2!1ses-419!2smx"
					class="map-location" style="border:0;" allowfullscreen="" loading="lazy"
					referrerpolicy="no-referrer-when-downgrade"></iframe></div>
		</div>
		<h3 class="text-center"><a class=" text-black" href="./contact"><b class="fs-3"><i class="bi bi-envelope"></i>
					Contactanos</b></a></h3>
	</div>
</section>
