<section id="contact-form">
	<div class="container position-relative">
		<form class="mx-auto shadow-lg p-3 mb-5 bg-body rounded" [formGroup]="form" novalidate
			(ngSubmit)="save($event)">
			<div class="mb-3">
				<label for="name" class="form-label">Nombre</label>
				<label class="text-danger ms-4"
					*ngIf="formControls['name'].hasError('required') && formControls['name'].touched">Es un campo
					requerido</label>
				<label class="text-danger ms-4"
					*ngIf="!formControls['name'].hasError('pattern') && formControls['name'].hasError('minlength') && formControls['name'].touched">Minimo
					2
					letras</label>
				<label class="text-danger ms-4"
					*ngIf="formControls['name'].hasError('pattern') && formControls['name'].touched">Solo
					letras</label>
				<input type="text" class="form-control" id="name" aria-describedby="nameHelp" formControlName="name">
				<div id="nameHelp" class="form-text">Escriba su nombre completo</div>
			</div>
			<div class="mb-3">
				<label for="email" class="form-label">Correo electrónico</label>
				<label class="text-danger ms-4"
					*ngIf="formControls['email'].hasError('required') && formControls['email'].touched">Es un
					campo
					requerido</label>
				<label class="text-danger ms-4"
					*ngIf="formControls['email'].hasError('email') && formControls['email'].touched">No es un
					email
					valido</label>
				<input type="email" class="form-control" id="email" formControlName="email">
			</div>
			<div class="mb-3">
				<label for="telephone" class="form-label">Teléfono</label>
				<label class="text-danger ms-4"
					*ngIf="formControls['telephone'].hasError('required') && formControls['telephone'].touched">Es
					un
					campo requerido</label>
				<label class="text-danger ms-4"
					*ngIf="formControls['telephone'].hasError('pattern') && formControls['telephone'].touched">No
					es
					un telefono valido</label>
				<input type="tel" class="form-control" id="telephone" formControlName="telephone" maxlength="10">
			</div>
			<div class="mb-3">
				<label for="job" class="form-label">Puesto</label>
				<input type="text" class="form-control" id="job" aria-describedby="jobHelp" formControlName="job">
				<div id="jobHelp" class="form-text">Esté campo es opcional</div>
			</div>
			<div class="mb-3">
				<label for="company" class="form-label">Empresa</label>
				<input type="text" class="form-control" id="company" aria-describedby="companyHelp"
					formControlName="company">
				<div id="companyHelp" class="form-text">Esté campo es opcional</div>
			</div>
			<div class="mb-3">
				<label for="message">Mensaje</label>
				<label class="text-danger ms-4"
					*ngIf="formControls['message'].hasError('required') && formControls['message'].touched">Es un
					campo requerido</label>
				<label class="text-danger ms-4"
					*ngIf="formControls['message'].hasError('maxlength') && formControls['message'].touched">Máximo
					deben haber 500 caracteres</label>
				<textarea class="form-control" id="message" rows="3" aria-describedby="messageHelp"
					formControlName="message"></textarea>
				<div id="messageHelp" class="form-text">Detalle su mensaje:
					<small>{{formControls['message'].value.length}} /
						500</small>
				</div>
			</div>
			<div class="mb-3">
				<re-captcha formControlName="recaptcha"></re-captcha>
				<label class="text-danger ms-4"
					*ngIf="formControls['recaptcha'].invalid && (formControls['recaptcha'].dirty || formControls['recaptcha'].touched)">Es
					un campo
					requerido</label>
			</div>
			<button type="submit" class="btn btn-primary">Enviar</button>
		</form>
		<div class="container" *ngIf="status!=''">
			<br><br>
			<h4 *ngIf="!status.includes('error')" class="bg-success text-white p-3">{{status}}</h4>
			<h4 *ngIf="status.includes('error')" class="bg-danger text-white p-3">{{status}}</h4>
		</div>
	</div>
</section>
