* {
	--bs-nav-link-color: rgba(0, 0, 0, 0.788);
	--bs-nav-pills-link-active-bg: rgba(0, 0, 0, 0.788);
	--bs-nav-link-hover-color: rgba(0, 0, 0, 0.588);

	/* border: solid 1px red; */
}

.banner {
	color: white;
	height: var(--banner-height);
}

.banner a {
	animation: wiggle 2s linear infinite;
	position: absolute;
}

.cover-black {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: -2;
}

.nav-link {
	border-radius: 0;
}

.software:hover .icon {
	color: #E66F1A;
}

.software:hover .soft {
	color: #203A75;
}

.software:hover .ware {
	color: #5A5F8D;
}

.our-metodology-data .software,
.our-metodology-data .bis,
.our-metodology-data .project-management-institute,
.our-metodology-data .scrum,
.our-metodology-data .data-driven {
	background-color: rgba(255, 255, 255, 0.788);
	width: 250px;
	height: 150px;
	overflow: hidden;
}

#our-metodology {
	background-color: rgba(0, 0, 0, 0.788);
	color: white;
}

.video-player {
	position: absolute;
	background-color: black;
	height: var(--video-player-height);
	width: 100%;
	overflow: hidden;
	top: 0;
	z-index: -1;
}

.video-player>video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -3;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}


.fs-1 {
	font-size: 4rem !important;
}
