<section id="about-us">
	<div class="banner">
		<div class="video-player">
			<div class="cover-black"></div>
			<!-- poster="assets/images/posters/conference-meeting.png"  -->
			<video loop autoplay playsinline muted>
				<source src="assets/videos/header/coworkers-talk.mp4" type="video/mp4">
			</video>
			<div></div>
		</div>
		<div class="my-5">&nbsp;</div>
		<div class="container">
			<h1><b>Nosotros</b></h1>
			<h2>Somos especialistas en proyectos de Business Analytics</h2>
		</div>
	</div>
</section>
<section id="our-awards" class="container my-2">
	<div class="row my-5 py-3 mx-auto">
		<div class="col-12 col-md-3 mt-4 mt-md-0 d-flex flex-column mx-auto">
			<i class="bi bi-trophy-fill text-center fs-2"></i>
			<span class="text-center">Ganador del OPI</span>
			<div class="software d-flex justify-content-center my-md-0 my-sm-5 align-self-center">
				<b class="fs-3"><span class="icon">&#x2230;</span>&nbsp;<span class="soft">Soft</span><span
						class="ware">ware</span></b>
			</div>
		</div>
		<div class="col-12 col-md-3 mt-4 mt-md-0 d-flex flex-column mx-auto">
			<i class="bi bi-trophy-fill text-center fs-2"></i>
			<span class="text-center">Ganador del Parthner boot camp</span>
			<div class="software d-flex justify-content-center my-md-0 my-sm-5 align-self-center">
				<b class="fs-3"><span class="icon">&#x2230;</span>&nbsp;<span class="soft">Soft</span><span
						class="ware">ware</span></b>
			</div>
		</div>
		<div class="col-12 col-md-3 mt-4 mt-md-0 d-flex flex-column mx-auto">
			<i class="bi bi-trophy-fill text-center fs-2"></i>
			<span class="text-center">Ganador del OPI</span>
			<div class="software d-flex justify-content-center my-md-0 my-sm-5 align-self-center">
				<b class="fs-3"><span class="icon">&#x2230;</span>&nbsp;<span class="soft">Soft</span><span
						class="ware">ware</span></b>
			</div>
		</div>
		<div class="col-12 col-md-3 mt-4 mt-md-0 d-flex flex-column mx-auto">
			<i class="bi bi-trophy-fill text-center fs-2"></i>
			<span class="text-center">Ganador del OPI</span>
			<div class="software d-flex justify-content-center my-md-0 my-sm-5 align-self-center">
				<b class="fs-3"><span class="icon">&#x2230;</span>&nbsp;<span class="soft">Soft</span><span
						class="ware">ware</span></b>
			</div>
		</div>
	</div>
</section>
<hr>
<section id="our-information" class="my-2">
	<div class="container my-5 py-3">
		<h2><b>¿Quienes somos?</b></h2>
		<p class="fs-4">Somos una Empresa de Analítica e Inteligencia de Negocios en México con presencia internacional,
			conformada por especialistas en proyectos de Business Analytics. Contamos con mas de 15 años de experiencia
			brindando soluciones innovadoras en más de 10 industrias y diferentes áreas funcionales.
			Contamos con los mejores Especialistas en Análisis Descriptivos, Predictivos y Prescriptivos, equipados con
			las certificaciones más importantes en el desarrollo de Análisis de Datos mediante Knowledge Discovery in
			Database (KDD)</p>
	</div>
</section>
<section id="our-statistics">
	<div class="container fw-bold my-5 py-3">
		<h2 class="text-center pb-4"><b>Tenemos participación con</b></h2>
		<div class="row">
			<div class="col-md-4 col-sm-12 text-center">
				<span class="fs-3">Clientes</span><br>
				<span>
					<b class="fs-1">540</b>
				</span>
			</div>
			<div class="col-md-4 col-sm-12 text-center">
				<span class="fs-3">Proyectos</span><br>
				<span>
					<b class="fs-1">120</b>
				</span>
			</div>
			<div class="col-md-4 col-sm-12 text-center">
				<span class="fs-3">Sectores industriales</span><br>
				<span>
					<b class="fs-1">20</b>
				</span>
			</div>
		</div>
	</div>
</section>
<section id="our-metodology">
	<div class="container my-5 py-3">
		<h2><b>Nuestra metología</b></h2>
		<p class="fs-4">Nuestros expertos están comprometidos en desarrollar proyectos respaldados por metodologías
			ágiles e innovadoras, que aseguran el éxito de nuestras soluciones de analítica</p>
	</div>
	<div class="container">
		<div class="our-metodology-data row pb-2 d-flex justify-content-center">
			<div
				class="software pt-5 pb-3 px-5 border border-2 rounded col-md-2 col-12 d-flex justify-content-center my-md-0 my-sm-5 mx-auto align-self-center">
				<b class="fs-3"><span class="icon">&#x2230;</span>&nbsp;<span class="soft">Soft</span><span
						class="ware">ware</span></b>
			</div>
			<div
				class="bis py-3 px-5 border border-2 rounded col-md-2 col-12 mt-4 mt-md-0 d-flex justify-content-center my-md-0 my-sm-5 mx-auto align-self-center">
				<img class="logo-tecnology" src="assets/images/tecnologies/bi.png" width="120px" alt="bi">
			</div>
			<div
				class="project-management-institute py-3 px-5 border border-2 rounded col-md-2 col-12 mt-4 mt-md-0 d-flex justify-content-center my-md-0 my-sm-5 mx-auto align-self-center">
				<img class="logo-tecnology" src="assets/images/tecnologies/pmi.svg" width="180px"
					alt="Project Management Institure">
			</div>
		</div>
		<div class="our-metodology-data row pt-5 pb-4 d-flex justify-content-center">
			<div
				class="scrum py-3 px-5 border border-2 rounded col-md-2 col-12 d-flex justify-content-center my-md-0 my-sm-5 mx-auto align-self-center">
				<img class="logo-tecnology" src="assets/images/tecnologies/scrum.png" width="200px" alt="Scrum">
			</div>
			<div
				class="data-driven py-3 px-5 border border-2 rounded col-md-2 col-12 mt-4 mt-md-0 d-flex justify-content-center my-md-0 my-sm-5 mx-auto align-self-center">
				<img class="logo-tecnology" src="assets/images/tecnologies/data-driven.jpg" width="200px"
					alt="Project Management Institure">
			</div>
		</div>
	</div>
</section>
<section id="our-certifications">
	<div class="container my-5 py-3">
		<h2 class="text-center pb-4"><b>Estamos certificados por</b></h2>
		<ul class="nav nav-tabs nav-pills nav-fill" id="certificationTab" role="tablist">
			<li class="nav-item" role="pmi">
				<button class="nav-link active" id="pmi-tab" data-bs-toggle="tab" data-bs-target="#pmi" type="button"
					role="tab" aria-controls="pmi" aria-selected="true">
					<h3 class="fw-bold text-center">PMI e IPMA®</h3>
				</button>
			</li>
			<li class="nav-item" role="tableau">
				<button class="nav-link" id="tableau-tab" data-bs-toggle="tab" data-bs-target="#tableau" type="button"
					role="tab" aria-controls="tableau" aria-selected="false">
					<h3 class="fw-bold text-center">Tableau Plataform®</h3>
				</button>
			</li>
		</ul>
		<!-- Tab panes -->
		<div class="tab-content">
			<div class="tab-pane fade show active py-4" id="pmi" role="tabpanel" aria-labelledby="pmi-tab" tabindex="0">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-12">
							<img class="img-fluid" src="assets/images/certifications/cer-pmi.jpg" alt="Certificado PMI">
						</div>
						<div class="col-md-8 col-sm-12 fs-5">Profesionales con conocimientos y competencias acreditadas
							ante organismos nacionales (CONOCER) e internacionales (PMI® e IPMA®). - Aplicación e
							impacto inmediato en mejores prácticas para administrar proyectos dentro de las
							organizaciones. - Incremento en la capacidad para realizar más y mejores proyectos. -
							Líderes de equipos de trabajo altamente orientados a lograr los resultados que contribuyen a
							los objetivos estratégicos de la organización.
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade py-4" id="tableau" role="tabpanel" aria-labelledby="tableau-tab" tabindex="0">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-12">
							<img class="img-fluid" src="assets/images/certifications/cer-tableau.jpg"
								alt="Certificado Tableau">
						</div>
						<div class="col-md-8 col-sm-12 fs-5">Ayudamos en la toma de decisiones en todos los niveles de
							la empresa, comprender mejor los resultados de negocio, anticiparse a ellos, darles forma
							mediante la identificación de tendencias, modelos estadísticos, anomalías; analizarlos,
							comparar los casos “what-if” y predecir las amenazas, oportunidades potenciales, así como
							planificar, presupuestar y prever los recursos
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="our-knowledge">
	<div class="container fw-bold mt-0 mb-5 pt-0 pb-3">
		<h2><b>Tenemos conocimiento en</b></h2>
		<div class="row pt-4 pb-2">
			<div class="col-md-8">
				<h3 class="text-center"><b>SCRUM</b></h3>
				<p class="fs-4">Profesionales con conocimientos y competencias acreditadas De todas las formas que
					existen para poder
					desarrollar software, únicamente de manera colaborativa es como se logra. Es por eso que aplicamos
					la metodología Scrum para llevar más allá tus objetivos</p>
			</div>
			<div class="col-md-4"><img class="img-fluid border border-0 rounded-pill"
					src="assets/images/knowledge/scrumn.jfif" alt=""></div>
		</div>
		<hr>
		<div class="row pt-4 pb-2">
			<div class="col-md-4"><img class="img-fluid border border-0 rounded-pill"
					src="assets/images/knowledge/data-driven.jpg" alt=""></div>
			<div class="col-md-8 mt-4 mt-md-0">
				<h3 class="text-center"><b>Data Driven</b></h3>
				<p class="fs-4">
					Tomamos decisiones estratégicas basadas en la interpretación y el análisis de datos. Es decir, se
					trata de ver la manera cómo se estructuran y organizan los datos con el fin de aplicarlos a su
					negocio y mejorar sus estrategias</p>
			</div>
		</div>
		<hr>
		<div class="row pt-4 pb-2">
			<div class="col-md-8">
				<h3 class="text-center"><b>Y en otras áreas como</b></h3>
				<span class="mx-3 my-2 fs-4 badge rounded-pill text-bg-secondary">Big Data</span>
				<span class="mx-3 my-2 fs-4 badge rounded-pill text-bg-secondary">Data Mining</span>
				<span class="mx-3 my-2 fs-4 badge rounded-pill text-bg-secondary">Data to Insight</span>
				<span class="mx-3 my-2 fs-4 badge rounded-pill text-bg-secondary">Machine Learning</span>
				<span class="mx-3 my-2 fs-4 badge rounded-pill text-bg-secondary">Business Intelligence</span>
				<span class="mx-3 my-2 fs-4 badge rounded-pill text-bg-secondary">Business Analytics</span>
			</div>
			<div class="col-md-4 mt-4 mt-md-0"><img class="img-fluid border border-0 rounded-pill"
					src="assets/images/knowledge/masters.jfif" alt=""></div>
		</div>
	</div>
</section>
