/* You can add global styles to this file, and also import other style files */
@import "@fontsource/open-sans";

* {
	font-family: 'Open Sans', sans-serif;
	text-align: justify;
	text-justify: inter-word;

	--video-player-height: 90vh;
	--banner-height: 60vh;
}

a {
	text-decoration: none;
}


/* h2 {
	font-size: 4vw;
}

h3 {
	font-size: 3vw;
}

h4 {
	font-size: 2vw;
} */

/* body {
	overflow-x: hidden;
} */

body::-webkit-scrollbar {
	width: 14px;
}

body::-webkit-scrollbar-track {
	background: #bebebe;
	/* border-radius: 10px; */
}

body::-webkit-scrollbar-thumb {
	background-color: #bebebe;
	border-right: 2px #bebebe solid;
	border-left: 2px #bebebe solid;
	background: rgba(94, 94, 94, 0.7);
}


/* Tricks for responsive */
/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
	* {
		--video-player-height: 70vh;
		--banner-height: 50vh;
	}
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
	* {
		--video-player-height: 130vh;
		--banner-height: 90vh;
	}
}
