<section id="services-home">
	<div class="banner">
		<div class="video-player">
			<div class="cover-black"></div>
			<!-- poster="assets/images/posters/conference-meeting.png"  -->
			<video loop autoplay playsinline muted>
				<source src="assets/videos/header/working-as-a-team.mp4" type="video/mp4">
			</video>
		</div>
		<div class="my-5">&nbsp;</div>
		<div class="container">
			<h1><b>Servicios</b></h1>
			<h2>Tenemos una gran gama de soluciones para llevar al máximo el nivel tu compañia</h2>
		</div>
	</div>
</section>
<section id="services-our-service" class="my-2">
	<div class="container fw-bold my-5 py-3">
		<h2><b>Ofrecemos</b></h2>
		<p class="fs-4">Proporcionamos a nuestros clientes una gama de productos y servicios relacionados con el
			analisis de datos, mediante el uso de tecnologias como Tableau, Salesforce, PMI, Scrum</p>
		<hr>
		<div data-bs-toggle="modal" data-bs-target="#modalBusinessAnalyst"
			class="card-click border-secundary rounded-4 shadow">
			<div class="row d-flex justify-content-center align-items-center px-4 py-2">
				<div class="col-md-8 col-sm-10 px-3">
					<h3 class="fw-bold">Implementación de proyectos (Business Analyst)</h3>
					<p class="fs-4">
						Nuestra metodología de servicios se encuentra orientada en los estándares del Project Management
						Institute (PMI)
						® e
						International Project Management Association (IPMA). Esto nos permite contar con las
						competencias para coordinar
						equipos
						de trabajo en el inicio, planeación, construcción, monitoreo y control de las actividades y
						recursos
						involucrados en un
						proyecto a partir de los objetivos y requerimientos de nuestro cliente.
					</p>
				</div>
				<div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center py-3">
					<img src="assets/images/services/balog.jpg" class="rounded img-thumbnail" alt="Business Analyst">
				</div>
			</div>
		</div>
		<div data-bs-toggle="modal" data-bs-target="#modalDesarrollo"
			class="card-click border-secundary rounded-4 shadow mt-5">
			<div class="row d-flex justify-content-center align-items-center px-4 py-2">
				<div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center py-3">
					<img src="assets/images/services/code.jpg" class="rounded img-thumbnail"
						alt="Desarrollo de aplicaciones">
				</div>
				<div class="col-md-8 col-sm-10 px-3">
					<h3 class="fw-bold">Desarrollo de aplicaciones</h3>
					<p class="fs-4">En un mundo moderno, con la cantidad de problemas y su complejidad cada vez es
						mayor, el desarrollo de aplicaciones, una herramienta para obtener soluciones precisas, dándole
						tareas repetitivas a la computadora y logrando así la "automatización" de procesos que todavía
						requieren la intervención de las personas en tareas repetitivas</p>
				</div>
			</div>
		</div>
		<div data-bs-toggle="modal" data-bs-target="#modalWorkshop"
			class="card-click border-secundary rounded-4 shadow mt-5">
			<div class="row d-flex justify-content-center align-items-center px-4 py-2">
				<div class="col-md-8 col-sm-10 px-3">
					<h3 class="fw-bold">Workshop (Blue print)</h3>
					<p class="fs-4">Su estrategia debe abarcar la gestión de personas, procesos y cambios, incluida la
						identificación de casos de uso comercial inmediatos, la definición de roles, responsabilidades,
						el establecimiento de medidas para evaluar el éxito y el impacto</p>
				</div>
				<div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center py-3">
					<img src="assets/images/services/workshop.webp" class="rounded img-thumbnail"
						alt="Workshop (Blue print)">
				</div>
			</div>
		</div>
		<div data-bs-toggle="modal" data-bs-target="#modalCapacitacion"
			class="card-click border-secundary rounded-4 shadow mt-5">
			<div class="row d-flex justify-content-center align-items-center px-4 py-2">
				<div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center py-3">
					<img src="assets/images/services/caplog.jpg" class="rounded img-thumbnail" alt="Capacitación">
				</div>
				<div class="col-md-8 col-sm-10 px-3">
					<h3 class="fw-bold">Capacitación</h3>
					<p class="fs-4">Nuestra gama de cursos de Tableau incluye:</p>
					<span class="mx-3 my-2 fs-5 badge rounded-pill text-bg-secondary">Tableau Server</span>
					<span class="mx-3 my-2 fs-5 badge rounded-pill text-bg-secondary">Big Data</span>
					<span class="mx-3 my-2 fs-5 badge rounded-pill text-bg-secondary">Tableau Desktop</span>
					<span class="mx-3 my-2 fs-5 badge rounded-pill text-bg-secondary">Data Mining</span>
					<span class="mx-3 my-2 fs-5 badge rounded-pill text-bg-secondary">Data to Insight</span>
					<span class="mx-3 my-2 fs-5 badge rounded-pill text-bg-secondary">Tableau Prep</span>
					<span class="mx-3 my-2 fs-5 badge rounded-pill text-bg-secondary">Machine Learning</span>
					<span class="mx-3 my-2 fs-5 badge rounded-pill text-bg-secondary">Business Intelligence</span>
					<span class="mx-3 my-2 fs-5 badge rounded-pill text-bg-secondary">Visual Analytics</span>
					<span class="mx-3 my-2 fs-5 badge rounded-pill text-bg-secondary">Business Analytics</span>
				</div>
			</div>
		</div>
		<div data-bs-toggle="modal" data-bs-target="#modalSoftware"
			class="card-click border-secundary rounded-4 shadow mt-5">
			<div class="row d-flex justify-content-center align-items-center px-4 py-2">
				<div class="col-md-8 col-sm-10 px-3">
					<h3 class="fw-bold">Venta de software</h3>
					<p class="fs-4">Nos dedicamos a la venta de licencias de software, podemos recomendarle los sistemas
						que de acuerdo a sus necesidades son más adecuados</p>
				</div>
				<div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center py-3">
					<img src="assets/images/services/venta personal.jpg" class="rounded img-thumbnail"
						alt="Venta de software">
				</div>
			</div>
		</div>
		<div data-bs-toggle="modal" data-bs-target="#modalHardware"
			class="card-click border-secundary rounded-4 shadow mt-5">
			<div class="row d-flex justify-content-center align-items-center px-4 py-2">
				<div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center py-3">
					<img src="assets/images/services/venta-hardware.jpg" class="rounded img-thumbnail"
						alt="Venta de hardware">
				</div>
				<div class="col-md-8 col-sm-10 px-3">
					<h3 class="fw-bold">Venta de hardware</h3>
					<p class="fs-4">Trabajamos con los mejores proveedores de México y tenemos la capacidad de cubrir
						cualquier necesidad que tenga de hardware. Redes, computadoras, impresoras y accesorios</p>
				</div>
			</div>
		</div>
		<div data-bs-toggle="modal" data-bs-target="#modalBalancedScorecard"
			class="card-click border-secundary rounded-4 shadow mt-5">
			<div class="row d-flex justify-content-center align-items-center px-4 py-2">
				<div class="col-md-8 col-sm-10 px-3">
					<h3 class="fw-bold">Balanced Scorecard</h3>
					<p class="fs-4">Somos especialistas en el balanced scorecard. Dejanos tener un cumplimiento
						sostenido de la Misión y Visión de tu empresa a través de la gestión de cuatro perspectivas</p>
				</div>
				<div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center py-3">
					<img src="assets/images/services/balanced scorecard.webp" class="rounded img-thumbnail"
						alt="Balanced Scorecard">
				</div>
			</div>
		</div>


	</div>
</section>
<section id="modals">
	<div class="modal fade" id="modalBusinessAnalyst" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="modalBusinessAnalystLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title fw-bold" id="modalBusinessAnalystLabel">Business Analyst</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
				</div>
				<div class="modal-body">
					<p class="fw-bold">Nuestra gestión de proyectos se basa en la metodología del Project Management
						Institute (PMI) a través de la cual fomentamos las buenas practicas para llevar a cabo la
						ejecución de procesos y determinar las áreas de conocimiento requeridas
					</p>
					<p class="fw-bold">
						La cantidad de datos ha aumentado de forma drástica, como también los casos de uso para
						analizarlos.
						Continuamente, surgen y evolucionan nuevos medios para capturar, almacenar, procesar y
						administrarlos. Por lo tanto, las estrategias de análisis de big data requieren
						flexibilidad y agilidad, a fin de satisfacer las demandas cambiantes de los negocios</p>
				</div>
				<div class="modal-footer">
					<img src="assets/images/modals/ba.jpg" class="img-fluid image-40" alt="Business Analyst">
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modalDesarrollo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="modalDesarrolloLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title fw-bold" id="modalDesarrolloLabel">Desarrollo de aplicaciones</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
				</div>
				<div class="modal-body">
					<p class="fw-bold">Somos especialistas en desarrollo web y movil</p>
					<p class="fw-bold">Manejamos 3 puntos para llevar acabo tu proyecto:</p>
					<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-inner border border-0 rounded">
							<div class="carousel-item p-3 active">
								<div class="container my-5 px-5">
									<p class="pt-2 px-4 fs-3">Analizamos tu problemáticas para ofrecer
										una solución
										adecuada,
										más que tus proveedores
										de servicios
										somos tus aliados</p>
								</div>
							</div>
							<div class="carousel-item p-3">
								<div class="container my-5 px-5">
									<p class="pt-2 px-4 fs-3">
										Nuestros desarrollos son a la medida, por lo que el sistema que construyamos
										para ti
										tendrá todo lo
										que necesitas
									</p>
								</div>
							</div>
							<div class="carousel-item p-3">
								<div class="container my-5 px-5">
									<p class="pt-2 px-4 fs-3">
										Expertos en integraciones entre sistemas, automatización de procesos y
										digitalización de
										procesos
									</p>
								</div>
							</div>
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
							data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
							data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
					<div class="py-4">
						<h3 class="fw-bold mb-2">Deployment a las siguientes plataformas</h3>
						<div class="d-flex align-items-center justify-content-center"><i
								class="bi bi-windows fs-3 mx-auto text-primary" data-bs-toggle="tooltip"
								data-bs-title="Windows"></i><i class="bi bi-ubuntu fs-3 mx-auto text-danger"
								data-bs-toggle="tooltip" data-bs-title="Linux"></i><i class="bi bi-apple fs-3 mx-auto"
								data-bs-toggle="tooltip" data-bs-title="MacOS"></i><i
								class="bi bi-android2 fs-3 mx-auto text-success" data-bs-toggle="tooltip"
								data-bs-title="Android"></i>
						</div>
					</div>
					<div class="py-4">
						<h3 class="fw-bold">Manejamos las siguientes tecnologias</h3>
						<div class="row d-flex align-items-center justify-content-center">
							<div class="col-12 col-md-4">
								<img src="assets/images/modals/technologies-development.jpg" class="img-fluid"
									alt="Tecnologias">
							</div>
							<div class="col-12 col-md-4">
								<img src="assets/images/modals/technologies-development2.png" class="img-fluid"
									alt="Tecnologias">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modalWorkshop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="modalWorkshopLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title fw-bold" id="modalWorkshopLabel">Workshop (Analisis de datos)</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
				</div>
				<div class="modal-body">
					<p class="fw-bold">Para garantizar el éxito con su inversión en análisis, su organización necesita
						una visión claramente definida para la implementación. Los aportes de las personas de toda la
						organización son cruciales para comprender los objetivos a corto y largo plazo para promover la
						toma de decisiones basada en datos. Su estrategia debe abarcar la gestión de personas, procesos
						y cambios, incluida la identificación de casos de uso comercial inmediatos, la definición de
						roles y responsabilidades y el establecimiento de una cadencia para evaluar las medidas de éxito
						y el impacto</p>
				</div>
				<div class="modal-footer">
					<div class="d-flex justify-content-center"><img src="assets/images/modals/work.jpg"
							class="img-thumbnail" width="350px" alt="Workshop"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modalCapacitacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="modalCapacitacionLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title fw-bold" id="modalCapacitacionLabel">Capacitación</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
				</div>
				<div class="modal-body">
					<p class="fw-bold">Transferimos no solo conocimiento en Tableau, si no un gran expertise en la
						industria del Businnes analytics, Big Data, Data mining, Data to Insight</p>

					<p class="fw-bold">Tenemos una gran variedad de cursos:
					</p>
					<div class="container">
						<span class="mx-3 my-2 fs-5 badge rounded-pill text-bg-secondary">Tableau Prep</span>
						<span class="mx-3 my-2 fs-5 badge rounded-pill text-bg-secondary">Tableau Desktop</span>
						<span class="mx-3 my-2 fs-5 badge rounded-pill text-bg-secondary">Visual Analytics</span>
						<span class="mx-3 my-2 fs-5 badge rounded-pill text-bg-secondary">Tableau Server</span>
						<span class="mx-3 my-2 fs-5 badge rounded-pill text-bg-secondary">Business Intelligence</span>
						<span class="mx-3 my-2 fs-5 badge rounded-pill text-bg-secondary">Data Mining</span>
						<span class="mx-3 my-2 fs-5 badge rounded-pill text-bg-secondary">Big Data</span>
						<span class="mx-3 my-2 fs-5 badge rounded-pill text-bg-secondary">Data to
							Insight</span>
					</div>

					<div class="container">
						<div class="row py-4">
							<div class="col-md-4 col-sm-12 d-flex flex-column p-3">
								<div class="p-2">
									<h3 class="fw-bold">Desktop I</h3>
								</div>
								<div class="p-2 flex-grow-1"><span>Adquiera un dominio sólido de los aspectos básicos
										de
										Tableau. Este curso está
										pensado
										para quienes trabajan con datos, independientemente de sus conocimientos
										técnicos o
										de
										análisis</span></div>
								<div>
									<img src="assets/images/modals/c1.png" class="img-fluid" alt="Desktop I">
								</div>
							</div>
							<div class="col-md-4 col-sm-12 d-flex flex-column p-3">
								<div class="p-2">
									<h3 class="fw-bold">Desktop II</h3>
								</div>
								<div class="p-2 flex-grow-1"><span>Amplíe su conocimiento y adquiera un nivel de
										usuario
										avanzado. Este curso ha
										sido
										diseñado para personas que dominan los conceptos básicos de Tableau y que
										desean
										pasar a
										un nivel superior</span></div>
								<div>
									<img src="assets/images/modals/c2.jpg" class="img-fluid" alt="Desktop II">
								</div>
							</div>
							<div class="col-md-4 col-sm-12 d-flex flex-column p-3">
								<div class="p-2">
									<h3 class="fw-bold">Desktop III</h3>
								</div>
								<div class="p-2 flex-grow-1"><span>Explore desafíos complejos de visualización de datos
										y ahonde
										en el análisis
										de
										datos.
										Aprenda los usos avanzados de los cálculos mediante su aplicación en
										situaciones
										reales.
										Conozca en más detalle las formas de preparar y aprenda técnicas avanzadas
										de
										generación
										de gráficos y cálculos para crear análisis y dashboards innovadores</span>
								</div>
								<div>
									<img src=" assets/images/modals/c3.jpg" class="img-fluid" alt="Desktop III">
								</div>
							</div>
						</div>
						<div class="row py-4">
							<div class="col-md-4 col-sm-12 d-flex flex-column p-3">
								<div class="p-2">
									<h3 class="fw-bold">Tableau Prep</h3>
								</div>
								<div class="p-2 flex-grow-1"><span>Genere visualizaciones más significativas gracias a
										la ciencia de la visualización de datos y las prácticas visuales recomendadas.
										Después de tomar este curso, se volverá un mejor analista, diseñador y
										comunicador. Utilizaras los conectores de datos, el idioma de cálculo, los
										permisos de usuario y las vistas de administración de Tableau para que puedas
										ponerte en marcha rápidamente</span></div>
								<div>
									<img src="assets/images/modals/pc1.jpg" class="img-fluid" alt="Desktop I">
								</div>
							</div>
							<div class="col-md-4 col-sm-12 d-flex flex-column p-3">
								<div class="p-2">
									<h3 class="fw-bold">Visual Analytics</h3>
								</div>
								<div class="p-2 flex-grow-1"><span>Descubra todos los detalles de Tableau Prep para
										combinar, organizar y limpiar sus datos. Trabaje de manera más eficiente,
										detecte tendencias más rápido, anticipe resultados y obtenga orientación basada
										en inteligencia artificial sobre los mejores pasos a seguir. Todo esto sin salir
										del flujo de trabajo. Aprenderá a crear flujos que luego podrá analizar con
										Tableau Desktop</span></div>
								<div>
									<img src="assets/images/modals/vac.jpg" class="img-fluid" alt="Desktop II">
								</div>
							</div>
							<div class="col-md-4 col-sm-12 d-flex flex-column p-3">
								<div class="p-2">
									<h3 class="fw-bold">Tableau Server</h3>
								</div>
								<div class="p-2 flex-grow-1"><span>Este curso abarca en profundidad la administración de
										Tableau Server. El conocimiento y las habilidades adquiridos se dirigen
										especialmente a aquellas personas que administrarán una instalación de Tableau
										Server, lo que incluye la administración de contenido, usuarios y
										permisos</span>
								</div>
								<div>
									<img src=" assets/images/modals/ser1.jpg" class="img-fluid" alt="Desktop III">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modalSoftware" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="modalSoftwareLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title fw-bold" id="modalSoftwareLabel">Venta de Software</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
				</div>
				<div class="modal-body">
					<p class="fw-bold">Responda preguntas a la velocidad del pensamiento</p>

					<p class="fw-bold">Nos dedicamos a la venta de licencias de software, podemos recomendarle los
						sistemas que de acuerdo a sus necesidades son más adecuados</p>

					<p class="fw-bold text-center">Manejamos software como:</p>
					<div class="container">
						<span class="mx-3 my-2 fs-5 badge rounded-pill text-bg-secondary">Tableau</span>
						<span class="mx-3 my-2 fs-5 badge rounded-pill text-bg-secondary">Altery</span>
						<span class="mx-3 my-2 fs-5 badge rounded-pill text-bg-secondary">Windows 11</span>
						<span class="mx-3 my-2 fs-5 badge rounded-pill text-bg-secondary">Auth0</span>
						<span class="mx-3 my-2 fs-5 badge rounded-pill text-bg-secondary">KasperskyAV</span>
						<span class="mx-3 my-2 fs-5 badge rounded-pill text-bg-secondary">VMware</span>
						<span class="mx-3 my-2 fs-5 badge rounded-pill text-bg-secondary">Windows 10</span>
						<span class="mx-3 my-2 fs-5 badge rounded-pill text-bg-secondary">Microsoft Office</span>
						<span class="mx-3 my-2 fs-5 badge rounded-pill text-bg-secondary">Business Analytics</span>
					</div>
				</div>
				<div class="modal-footer">
					<img src="assets/images/modals/softin.png" width="350px" class="img-thumbnail"
						alt="Venta de Software">
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modalHardware" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="modalHardwareLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title fw-bold" id="modalHardwareLabel">Venta de Hardware</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
				</div>
				<div class="modal-body">
					<p class="fw-bold">La exigencia que tenemos en ofrecer siempre productos de calidad</p>

					<p class="fw-bold">Trabajamos con los mejores proveedores de México y tenemos la capacidad de cubrir
						cualquier necesidad que tenga de hardware, redes, computadoras, impresoras y accesorios que sean
						mas adecuados</p>

					<p class="fw-bold text-center">Manejamos marcas como:</p>
					<div class="brands row">
						<div class="col-md-3 col-sm-5 py-md-0 py-sm-4 d-flex align-items-center justify-content-center">
							<img src="assets/images/brands/hp.png" class="img-fluid" alt="HP">
						</div>
						<div class="col-md-3 col-sm-5 py-md-0 py-sm-4 d-flex align-items-center justify-content-center">
							<img src="assets/images/brands/dell.png" class="img-fluid" alt="Dell">
						</div>
						<div class="col-md-3 col-sm-5 py-md-0 py-sm-4 d-flex align-items-center justify-content-center">
							<img src="assets/images/brands/lenovo.png" class="img-fluid" alt="Lenovo">
						</div>
						<div class="col-md-3 col-sm-5 py-md-0 py-sm-4 d-flex align-items-center justify-content-center">
							<img src="assets/images/brands/plantronics.png" class="img-fluid" alt="Plantronics">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modalBalancedScorecard" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="modalBalancedScorecardLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title fw-bold" id="modalBalancedScorecardLabel">Balanced Scorecard (BSC)</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
				</div>
				<div class="modal-body">
					<p class="fw-bold">Creamos un Balanced Scorecard para medir y mejorar tus procesos</p>

					<p class="fw-bold">Utilizamos la planificación estratégica para alinearse a la visión y estrategia
						de tu
						organización,
						con el propósito de tener una visión integral del negocio y controlar el desempeño de tu empresa
						a
						través de mediciones de rendimiento</p>
				</div>
				<div class="modal-footer">
					<img src="assets/images/modals/balance-scorecard.jpg" class="img-thumbnail" alt="Balacne Scorecard">
				</div>
			</div>
		</div>
	</div>
</section>
