.banner {
	color: white;
	height: var(--banner-height);
}

.brands img {
	width: 70%;
}

.card-click:hover {
	cursor: pointer;
}

.carousel-inner {
	background-color: rgba(0, 0, 0, 0.568);
}

.carousel-item {
	color: white;
}

.cover-black {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: -2;
}

.image-40 {
	max-width: 40% !important;
	width: 40% !important;
}

.modal-footer {
	justify-content: center;
}

.video-player {
	position: absolute;
	background-color: black;
	overflow: hidden;
	height: var(--video-player-height);
	width: 100%;
	top: 0;
	z-index: -1;
}

.video-player>video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -3;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
